body {
  font-family: Roboto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1f2937;
}
.header,
.footer {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
  margin: 0;
  margin-bottom: 32px;
  flex: 0 0 auto; /* Establece un tamaño inicial y no crece automáticamente */
}
.content_home {
  flex: 1; /* Asegura que .content_home ocupe el espacio restante */
}
ul {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 32px;
}

a,
.content_ref {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.left-links .logo a {
  font-size: 48px;
  font-weight: bold bold;
}
.left-links {
  display: flex;
  gap: 12px;
  align-items: center;
}
/* COMIENZO*/
.content_home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 20px;
  background-color: #1f2937;
}
.content_ref {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.title_ref {
  font-size: 52px;
}
.content_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* border */
  border-width: 1px;
  border-style: solid;
  border-color: white;
}
.sign_up {
  margin-top: 10px;
  width: 150px;
  height: auto;
  background-color: #3b82f6;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  margin: 0;
  margin-top: 10px;
  padding: 10px 15px;
}
.content_info {
  background-color: white;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_info p {
  margin-top: 6px;
  font-size: 32px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}
.img {
  width: 300px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  text-align: center;
  font-family: Roboto;
}
.cards img {
  /* border */
  border-width: 2px;
  border-style: solid;
  border-color: #3b82f6;
}
/*Quote*/
.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: light italic;
  font-weight: light;
  color: #1f2937;
  padding: 2em;
}
.quote p {
  text-align: center;
}
.quote div {
  font-weight: bold;
  text-align: right;
}
/*Container sign*/
.sign_container {
  background: white;
  display: flex;
  padding: 2em 2em;
  justify-content: center;
}
.sign_container .info {
  background-color: #3882f6;
  padding: 2em 2em;
  padding-left: 10em;
  padding-right: 10em;
  display: flex;
  gap: 10em;
  font-size: 20px;
  color: white;
  font-weight: lighter;
}
.info p {
  font-weight: bold;
  font-size: 26px;
}
.sign_container .sign_up {
  border: 2px solid white;
}
/*Copyright*/
.footer {
  text-align: center;

  color: white;
}
